{% load template%}


<title> Practice </title>




<body>
<div>
    <form hx-post="{% url 'check' %}">
        {% csrf_token %}
    {% for obj in quiz %}
        {% if obj.questions_set.all%}
            
            {% for question in obj.questions_set.all %}
                <div class="ques_and_ans_box">
                    {{forloop.counter}}.
                    <input type="text" name="question" value="{{question.ques_id}}" hidden>{{question.ques}}</input></br></br>
                    
                    {% if question.ques_image %}
                    <img src="/{{question.ques_image }}" alt="Question Image" width="200px" height="200px" defer>
                    <br>
                    <br>
                    {% endif %}
                    <div class="ans">
                {% for answer in obj|get_filter:question.ques_id %}
                    {% if answer.ans_image %}
                        <div>
                        <input type="radio" name="{{question.ques_id}}" value="{{answer.ans_id}}" id="h{{answer.ans_id}}">
                        <img src="/{{answer.ans_image}}" alt="answer image" width="150px" height="150px" defer>
                        <label for="h{{answer.ans_id}}">{{answer.ans}}</label>
                        </div>
                    {% else %}
                    <div>
                        <input type="radio" name="{{question.ques_id}}" value="{{answer.ans_id}}" id="h{{answer.ans_id}}">
                        <label for="h{{answer.ans_id}}">{{answer.ans}}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                </div>

        </br>
            {% endfor %}
            <button type="submit">Submit</button>
        {% else %}
            <p>No Questions add questions at <button type="button"> <a href="{% url 'add_questions' quiz_id=obj.quiz_id%}">Add or Edit Questions</a></button></p>
        {% endif %}

    {% endfor %}
    </form>
</div>
</body>