{% extends 'base.html' %}
{% load template %}
{% load static %}
{% block title %}
Report
{% endblock %}


{% block css %}{% static 'report.css' %}{% endblock %}

{% block body %}
<script>
function replace(id) {
    document.getElementById('display').innerHTML = document.getElementById(id).innerHTML
}
</script>


Atempts: {{reports|length}}
<div class="attempt">
{% for attempt in reports %}
    Attempt {{forloop.counter}}<br>
    Score : {{attempt.score}}
    <button type="submit" value="h{{forloop.counter}}" onclick="replace('h{{forloop.counter}}')">Show Results</button>
    {% for report in reports %}
    <div id="h{{forloop.counter}}" hidden defer>
    <h3>Attempt {{ forloop.counter }}</h3>
    {{report|check_html}}
        <br>
        <br>
    </div>
        {% endfor %}
    {% endfor %}
</div> 


<div id="display">

</div>

{% endblock %}
