{% extends 'base.html' %}

{% block title %}
Add Question
{% endblock %}

{% block body %}
    <div id="questions" hx-swap-oob="true">
        <h1> Questions </h1>
        {% for question in questions %}
        <div class="question" id="h{{question.ques_id}}">
            {{question.ques}}
            <button type="button"><a href="{% url 'edit_questions' ques_id=question.ques_id%}">Edit Answers</a></button>
            <button type="button" hx-get="{% url 'delete' type='question' id=question.ques_id%}" hx-target="#h{{question.ques_id}}">Delete</button>
        </div>
        {% endfor %}
    </div>

    <p id="error"></p>
    <form hx-encoding="multipart/form-data" hx-post="{% url 'add_questions' quiz_id=quiz_id%}" hx-trigger="submit", hx-target="#error" hx-swap="innerhtml" id="question_form">
    {% csrf_token %}
    <div id="question">
    {{question}}
    </div>
    {{answer}}
    <div id="correct_ans">
    {{correct}}
    </div>
    {% url 'add_questions' quiz_id=quiz_id%}
    <button type="submit">Submit</button>
    </form>
    <div>
        <button hx-get="{% url 'get-form' what_form='ques'%}" hx-target="#question">Replace question one with text and image</button>
        <button hx-get="{% url 'get-form' what_form='text_ans'%}" hx-target="#id_answer" hx-swap="afterend">Add Another Answer Feild</button>
        <button hx-get="{% url 'get-form' what_form='ans_with_image'%}" hx-target="#id_answer" hx-swap="afterend">Image and text Answer </button>
        <button hx-get="{% url 'get-form' what_form='correct_ans'%}" hx-target="#correct_ans" hx-swap="innerhtml">Replace Text correct with correct Answer with Image and text</button>
    </div>
{% endblock %}