{% extends 'base.html' %}

{% block title %}
Edit Question
{% endblock %}

{% block body %}
<h1>Edit Question & Answers </h1>
<p id="error"></p>
<form hx-encoding="multipart/form-data" hx-post="{% url 'edit_questions' ques_id=ques_id}" hx-trigger="submit", hx-target="#error" hx-swap="innerhtml" id="question_form">
{% csrf_token %}
{% for query in ques%}
<!-- Question  -->
<div id="question">
    <div>
        <label for="id_question">Question :</label>
        <textarea name="question" cols="40" rows="2" placeholder="hello" required id="id_question">
{{query.ques}}
        </textarea>
    </div>
    {% for answer in query.answers_set.values%}
    {%  if answer.ans_correct%}
    
    <!-- Correct Answer -->
    <div id="correct_ans">
        <div>
            <label for="id_correct_answer">Correct Answer:</label>
            <input type="text" name="correct_answer" required id="id_correct_answer" value="{{answer.ans}}">
        </div>
    {% else %}
    <!-- Answer -->
    <div>
        <label for="id_answer">Answer: :</label>
        <input type="text" name="answer" required id="id_answer" value="{{answer.ans}}">
    </div>
    {% endif %}    
    {% endfor %}
    {% endfor %}
<button type="submit">Submit</button>
{% endblock %}