{% extends 'base.html' %}

{% block title %}
HOME
{% endblock %}

{% block body %}
    <div id="edit_tests">
        {% for quiz in quizes %}
        <div id="h{{quiz.quiz_id}}">
            {{quiz.quiz_name}}
            <button type="button"> <a href="{% url 'add_questions' quiz_id=quiz.quiz_id%}">Edit Questions</a></button>
            <button type="button" hx-get="{% url 'delete' type='quiz' id=quiz.quiz_id%}" hx-target="#h{{quiz.quiz_id}}">Delete</button>

        </div>            
        {%  endfor %}
    </div>
    <form hx-post="{% url 'home' %}" hx-trigger="submit">
    {% csrf_token %}
    {{quiz_form}}
    {% url 'home' %}
    <button type="submit">Submit</button>
    </form>
{% endblock %}