{% extends 'base.html' %}

{% block title %}
Practice
{% endblock %}

{% block body %}
<form hx-post="{% url 'practice' quiz_id=quiz_id%}" hx-target="#contents" hx-trigger="submit">
    {% csrf_token %}
    <input type="text" name="flip" value="Flip" hidden>
<button type="submit">Flip</button>
</form>

<form hx-post="{% url 'practice' quiz_id=quiz_id%}" hx-target="#contents" hx-trigger="submit">
    {% csrf_token %}
    <input type="text" name="test" value="test" hidden>
<button type="submit">Test form</button>
</form>
<br>
<br>
<br>
<div id="contents">

</div>


{% endblock %}